
.bars{
  z-index: 2000;
  // padding: 2.5rem;
  height: 5rem;
  width: 5rem;
  margin: 1rem;
  background: $color-white;
  // border-radius: 100px;
  font-size: 3rem;
  display: none;
  @include respond(tab-port){
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.ModalNavigation{

 &__items{
     position: fixed;
     top:50%;
     transform: translateY(-50%) translateX(-500%);
     animation: ModalNavigation .6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
     animation-delay: .4s;
     animation-fill-mode: forwards;
    text-align: center;
  &-item{
    color: $color-black;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    margin:  1.5rem 3rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black 50%);
    background-size: 300%;
    transition: all 1s;
    &:hover{
      background-position: 100%;
      color: $color-white;
      transform: translateX(1rem);
    }
  }
 }
}
@keyframes ModalNavigation {
   from{
     transform: translateY(-50%) translateX(-300%);
   }
   to{
     transform: translateY(-50%) translateX(0%);
   }
}
