.landingScreen6{
  &__head{
     text-align: center;
     font-size: 4rem;
     padding: 2rem 0;
  }
  &__Wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &-card{
      // width: 25%;
      border-bottom: 1rem solid $color-secondary-blue;
      border-left: 1rem solid $color-secondary-blue;
      box-shadow: 0rem 5rem 8rem -5rem rgba($color-black,.9);
      margin: 1rem 6rem;
      padding: 2rem 1rem;
      background: rgba($color-secondary-blue,.3);
      text-align: center;
      transition: all .5s;
      transform: scale(0.9);
      &:hover{
        transform: scale(1);
      }
      &-iconWrapper{

        &-icon{
          font-size: 3rem;
          padding: 1rem;
          border-radius: 100px;
          margin-bottom: 1rem;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          color: $color-secondary-blue;
          background: $color-white;
          box-shadow: 0rem 0rem 2rem rgba($color-secondary-blue,.2);
        }
      }
      &-head{
        font-size: 2.5rem;
        font-weight:500;
        padding-bottom: .5rem;
      }
      &-time{
        padding-bottom: 2rem;
        font-size: 1.5rem;
        font-weight:500;
        opacity: .7;
      }
      &-list{
        &-item{
          padding-bottom: 1rem;
          font-size: 1.5rem;
          font-weight:800;
          letter-spacing: 1.5px;
          color: $color-secondary-blue;
        }
      }
    }
  }
}



@include respond(phone){
  .landingScreen6{
    &__head{
       font-size: 3rem;
    }
    &__Wrapper{
      &-card{
        text-align: center;
        // width: 25%;
        margin: 1rem 0;
        padding: 2rem 2rem;
        // background: rgba($color-secondary-blue,.1);
        &-head{
          font-size: 2rem;
        }
        &-time{
          font-size: 1.3rem;
        }
        &-list{
          &-item{
            font-size: 1.3rem;;
          }
        }
      }
    }
  }
}
