.landingScreen7{
   margin: 5rem 1rem;
   padding-bottom: 10rem;
  &__container{
      margin: 5rem;
      // padding: 0 15rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;

      background: $color-white;
      box-shadow: 0rem 0rem 5rem rgba($color-secondary-blue,.2);
      transform: skewX(-5deg);
      border-bottom: 1rem solid $color-secondary-blue;
      border-left: 1rem solid $color-secondary-blue;
      @include respond(phone){
        transform: skewX(0);
          margin: 1rem;
          border: none;
          box-shadow: none;
          // box-shadow: inset 0rem 0rem 2rem rgba($color-secondary-blue,.2);
      }
    &-review{
      transform: skewX(5deg);
      margin: 5rem auto;
      // text-align: center;
      width: 80%;
      padding-left: 1rem;
      @include respond(phone){
        width: 99%;
        transform: skewX(0);
      }
      &-name{
        font-size: 1.8rem;
        font-weight: normal;
        text-transform: uppercase;
        padding-bottom:.5rem;
      }
      &-detail{
        font-size: 1.5rem;
        font-weight: 300;
      }
    }
  }
}
